Source: persoc
Priority: optional
Maintainer: technocore <technocore@technocore>
Build-Depends: debhelper-compat (= 13), php-cli, liblapin-utils
Standards-Version: 4.6.2

Package: persoc
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, php-cli, openssh-client, nftables, iproute2, procps, systemd, bsdutils, liblapin-utils
Description: Session utils.
  Allow Infosphere Hand to set firewall on Huile systems. Allow
  users to announce automatically they are working to infosphere hand.
  And others things.
