[Unit]
Description=Persoc

[Service]
Type=simple
User=root
ExecStart=/usr/bin/php /opt/persoc/persoc.php
Restart=always

[Install]
WantedBy=multi-user.target

